<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.laxture.skeleton">

    <application
        android:allowBackup="true"
        android:label="@string/app_name" >

        <meta-data
            android:name="roboguice.modules"
            android:value="com.laxture.skeleton.ioc.CustomInjectionModule" />

    </application>

</manifest>
